<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048754965602-jphe746pt9ubafml3uia57155b17krqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048754965602-jphe746pt9ubafml3uia57155b17krqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048754965602-noaqchm7r9q6qoaqtm509vdsnt4g60eq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD78YzFv4oGGKk-SftBQp8UlASJYqdpLKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1048754965602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.women</string>
	<key>PROJECT_ID</key>
	<string>womens-f24c0</string>
	<key>STORAGE_BUCKET</key>
	<string>womens-f24c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048754965602:ios:7c302eb9d385041cb2d53b</string>
</dict>
</plist>